<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<title>Learn Math</title>
</head>
	s<body>
		<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Math<span>Mentor</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        	<li><a href="/home">Home</a></li>
          <li><a href="/lessons">Lessons</a></li>
          
          <li><a href="/quizzes">Quizzes</a></li>
          <li><a href="/login" data-target="/login" data-toggle="modal">Logout</a></li>
          
        </ul>
        </div>
      </div>
    </nav>
    
    

    
		
		{{{ body }}}
	</body>
</html>
