<!--Layout for the bindex view -->

<!--Page Header-->
<div class="container">
  <h3>Logged in as {{user.email}}</h3>
  
 <div class="banner">
      <div class="bg-color">
        <div class="container">
          <div class="row">
            <div class="banner-text text-center">
              <div class="text-border">
                <h2 class="text-dec">Trust & Quality</h2>
              </div>
              <div class="intro-para text-center quote">
                <p class="big-text">Learning Today . . . Leading Tomorrow.</p>
                <p class="small-text">Pick a math subject  you need improvement on and well get you right on track<br>Practice makes Perfect</p>
                <a href="/users/{{user.id}}/history" class="btn btn-lg get-quote">View History</a>
              </div>
              <a href="#Lessons" class="mouse-hover"><div class="mouse"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div col-md-12>
    <br>
     
    </div>
    <section id ="lessons" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">         
              <div class="less-stru">
                <h3>65%</h3>
                <p>Say Yes!!</p>
                <i class="fa fa-male"></i>
              </div>  
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">         
              <div class="less-stru">
                <h3>20%</h3>
                <p>Says No!!</p>
                <i class="fa fa-male"></i>
              </div>  
            </div>
            <div class="colessl-lg-4 col-md-4 col-sm-4 col-xs-4">         
              <div class="less-stru">
                <h3>15%</h3>
                <p>Can't Say!!</p>
                <i class="fa fa-male"></i>
              </div>  
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-info">
              <hgroup>
                <h3 class="det-txt"> Is inclusive quality education affordable?</h3>
                <h4 class="sm-txt">(Revised and Updated for 2017)</h4>
              </hgroup>
              <p class="det-p"><p class="det-p">Now a days a better understanding can make a significant impact on all aspects of your life in this survey we take a poll of various indiviuals and ask them if being tutored with our company helped them acheive there goal</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>





