<!--Layout for the bindex view -->

<!--Page Header-->
<div class="container">
  <h1>Lessons</h1>
</div>





<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        {{#each lessons}}
            <li >
            <a class="btn btn-default" href="/lessons/{{this.id}}">		 
            {{this.subject}}
            {{this.topic}}</a>

            </li>
            <br>   
        {{/each}}
      </ul>
    </div>
    

  </div>
</div>




